@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");
@keyframes change-color {
    25% { color: #00A4BD; }
    50% { color: #FF7A59; }
    75% { color: #00BDA5; }
  }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.hi{
    width: 30%;
    height:20%;
    border:1px solid rgb(5, 5, 5);
    padding: 1.5%;
    animation-name: fadeIn;
    animation-duration: 5s;
   
    
} 
#hi1{
    width: 15%;
    height:20%;
    border:1px solid black;
    padding: 1.5%;
    margin-top: 1%;
} 
#hi2{
    width: 15%;
    height:20%;
    border:1px solid rgb(0, 0, 0);
    padding: 1.5%;
    
    margin-top: 1%;
} 
#chaincontainer{
    display:flex;
    gap:2vmin;
    position:absolute;
    width:80%;
}
.hi3{
    width: 2.5%;
    height:20%;
    border:1px solid rgb(0, 0, 0);
    padding: 1.5%;
    margin-top: 1%;
} 

.h3run{
    color: rgb(0, 0, 0);
  
    font-size: 2.1em;
}
h3{
    margin:auto;
    font-size: x-large;
    animation: change-color 5s;
}
body {
    margin-left: 5%;
   
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
.dark-mode {
    background-color: black;
    color: white;
}
