@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");
@keyframes change-color {
    25% { color: #ff0000; }
    50% { color: #00bd49; }
    75% { color: #2f00bd; }
  }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

ul{
    
    list-style: circle;
}
#intro{
    margin-top: 5%;
    display: flex;
}

#intro > .introbox{
    
    margin:auto;
    width:40%;
    height: auto;
    padding: 3%;
    padding-top: 2.5%;
    padding-bottom: 5%;
    margin-top:10vmin;
    margin-bottom: 2vmin;
}
.statement{
    font-size:2.5rem;
    font-weight: 350;
    background-color: rgb(40, 56, 51);
    padding:5%;
}
.quotebox{
    width:100%;
    height: auto;
    white-space: normal;
    margin-bottom:20vh;
}
.quote{
    font-size:5rem;
    font-weight:550;
    margin-bottom:0%;
    margin-left:5%; 
    
}.quotecontent{
    margin-top:0%;
    margin-bottom:0%;
    margin-left: 20%;
    margin-right:20%;
    font-size:3rem;
    text-align: center;
}
.quoteauthor{
    margin-top:12%;
    margin-left:20%;
    margin-bottom:10%;
    float:right;
}
.quoteend{
    font-size:5rem;
    font-weight:550;
    float:right;
    margin-top:0%;
    margin-bottom:10%;
    margin-right:5%; 
}
.quoteanimation{
    animation: fadeIn 2s;
}
.header {
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px 10px;
    margin:0%;
}

.header a {
    float: left;
    color:black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    border-radius: 5px;
}

.header a.logo {
    font-size: 40px;
}

.header a.active {
    background-color:rgb(49, 49, 49);
    color: #f1f1f1;
}

.header-buttons {
    float: right;
    padding-right: 10px;
}

.hi{
    width: 70%;
    height:50%;
    border: 5px solid rgb(255, 255, 255);
    padding: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: "Roberto", sans-serif;
    
    margin: auto;
    margin-top: 15%;
    animation: fadeIn 2s;
    text-align: center;
} 

#hi1{
    width: 15%;
    height:20%;
    border:1px solid black;
    padding: 1.5%;
    margin-top: 1%;
    text-align: center;
} 

#hi2{
    width: 15%;
    height:20%;
    border:1px solid rgb(0, 0, 0);
    padding: 1.5%;
    
    margin-top: 1%;
} 

#chaincontainer{
    display:flex;
    gap:2vmin;
    width:80%;
    margin:auto;
}

.hi3{
    width: 5%;
    height:20%;
    padding: 1.5%;
    margin: auto;
    margin-top: 10%;
} 

.h3run{
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    padding-bottom: 10px;
    margin-top: 10%;
    margin: auto;
}
h3{
    margin: auto;
    font-size: x-large;
    
}
body {
    margin-left: 5%;
    background-image: url("https://images.pexels.com/photos/4031381/pexels-photo-4031381.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
    backdrop-filter: blur(10px);
    color: #ffffff;
    font-family: "Source Sans Pro", Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    white-space: normal;
  }
  
.dark-mode {
    background-color: black;
    color: white;
}
