<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smoke for life</title>
    
  </head>
  <body>
    <div class="header">
      <a href="default" class="logo">🚬</a>
      <div class="header-buttons">
        <a class="active" href="#home">Home</a>
        <a href="#carcinogen">Carcinogens</a>
        <a href="#smoke" onclick="location.href='slide';" style="cursor: pointer;">What is a smoke?</a>
      </div>
    </div>
    <div class = "hi"><h3 class="h3run">
        Smoking for life
    </h3>
    Smoking is the best for you.
  </div>
  <div id = "chaincontainer">
  <div class = "hi3"> 🚬</div>
  <div class = "hi3"> 🚬</div>
  <div class = "hi3"> 🚬</div>
  <div class = "hi3"> 🚬</div>
  <div class = "hi3"> 🚬</div>
  <div class = "hi3"> 🚬</div>
  </div>
	<script src="/static/index.js"></script>
  </body>
</html>