<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smoke for life</title>
    
  </head>
  <body>
    <p > </p>
    <div class = "hi"><h3 class="h3run">
        Smoking for life. 🚬
    </h3>
    Smoking is not the best for you.
  </div>
  <div id = "hi1"> carcinogen 🚬</div>
 <div id = "hi2" onclick="location.href='slide';" style="cursor: pointer;"> WHAT IS A  🚬</div>
  <div id = "hi2"> Chain smoking</div>
  <div id = "chaincontainer">
  <div class = "hi3"> 🚬</div>
  <div class = "hi3"> 🚬</div>
  <div class = "hi3"> 🚬</div>
  <div class = "hi3"> 🚬</div>
  <div class = "hi3"> 🚬</div>
  <div class = "hi3"> 🚬</div>
</div>
	<script src="/static/index.js"></script>
  </body>
</html>