<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <ul class="likert">
        <li> Not Guilty </li>
        <li><input type="radio" name="guilty" value="1" /></li>
        <li><input type="radio" name="guilty" value="2" /></li>
        <li><input type="radio" name="guilty" value="3" /></li>
        <li><input type="radio" name="guilty" value="4" /></li>
        <li><input type="radio" name="guilty" value="5" /></li>
        <li> Very Guilty </li>
      </ul>
	<script src="index.js"></script>
  </body>
</html>