<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/slide.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smoke for life slideshow</title>
    
  </head>
  <body>
    <img id ="image1big"onclick="bighide()" src="https://images.unsplash.com/photo-1555441293-6c6fb1eb9773?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c21va2luZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" draggable="false"/>
    <img id ="image2big"onclick="bighide1()" src="https://images.unsplash.com/photo-1649430332289-65ee9fa56a4d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c21va2luZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" draggable="false"/>
    <img id ="image3big"onclick="bighide2()" src="https://i.pinimg.com/originals/1e/ac/a2/1eaca2195245ff1591ef3cf71f78ceec.jpg" draggable="false"/>
    <img id ="image4big"onclick="bighide3()" src="https://images.unsplash.com/photo-1600262300112-f9d8a99fa4b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fHNtb2tpbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" draggable="false"/>
    <img id ="image5big"onclick="bighide4()" src="https://images.unsplash.com/photo-1534365315265-920d6de1f31d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjZ8fHNtb2tpbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" draggable="false"/>
    <img id ="image6big"onclick="bighide5()" src="https://images.unsplash.com/photo-1628261536713-76846c247a37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8Nnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" draggable="false"/>
    <img id ="image7big"onclick="bighide6()" src="https://upload.wikimedia.org/wikipedia/commons/7/79/Operation_Upshot-Knothole_-_Badger_001.jpg" draggable="false"/>
    <img id ="image8big"onclick="bighide7()" src="https://images.unsplash.com/photo-1614981226683-97792a0c6bc0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGdpcmwlMjBzbW9raW5nfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" draggable="false"/>
    <img id ="image9big"onclick="bighide8()" src="https://pyxis.nymag.com/v1/imgs/f85/110/c555c79f9269d55f947b08ac8ec2f550c4-drake.2x.rsocial.w600.jpg" draggable="false"/>
    <div id = "image-track" data-mouse-down-at = "0" data-prev-percentage="0"> 
        <img class ="image"onclick="big1()"src="https://images.unsplash.com/photo-1555441293-6c6fb1eb9773?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c21va2luZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" draggable="false"/>
        <img class ="image"onclick="big2()" src="https://images.unsplash.com/photo-1649430332289-65ee9fa56a4d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c21va2luZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"draggable="false"/>
        <img class ="image"onclick="big3()" src="https://i.pinimg.com/originals/1e/ac/a2/1eaca2195245ff1591ef3cf71f78ceec.jpg"draggable="false"/>
        <img class ="image"onclick="big4()" src="https://images.unsplash.com/photo-1600262300112-f9d8a99fa4b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fHNtb2tpbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"draggable="false"/>
        <img class ="image"onclick="big5()" src="https://images.unsplash.com/photo-1534365315265-920d6de1f31d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjZ8fHNtb2tpbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"draggable="false"/>
        <img class ="image"onclick="big6()" src="https://upload.wikimedia.org/wikipedia/commons/7/79/Operation_Upshot-Knothole_-_Badger_001.jpg"draggable="false"/>
        <img class ="image"onclick="big7()" src="https://images.unsplash.com/photo-1528933325678-eab4dc11c362?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8OXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"draggable="false"/>
        <img class ="image"onclick="big8()" src="https://images.unsplash.com/photo-1614981226683-97792a0c6bc0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGdpcmwlMjBzbW9raW5nfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" draggable="false" />
        <img class="image" onclick="big9()"src="https://pyxis.nymag.com/v1/imgs/f85/110/c555c79f9269d55f947b08ac8ec2f550c4-drake.2x.rsocial.w600.jpg" draggable="false" />

    </div>
    
	<script src="/static/index.js"></script>
  </body>
</html>